body {
  font-size: clamp(16px, 3vw, 18px);
}

pre {
  padding: 1rem;
  border-radius: calc(var(--border-radius) * 2);
  border: 1px solid var(--border-color);
  overflow-x: auto;
}

/* theme specifics */
.dark-mode p {
  color: #d0d0d0;
}

.light-mode p {
  color: #404040;
}

.light-mode {
  --border-color: #dddddd;
}

.dark-mode {
  --border-color: #333333;
}
